{{#if loggedin}}
{{> headerauth}}
{{else}}
{{> header}}
{{/if}}
{{> loginform}}
<div class="team-5 section-image" style="background-image: url('./assets/img/examples/city.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Grind Limited's Team Members</h2>
                <h5 class="description">We are focused on creating the best value for each business
                    nnd to help each business solve their most important and difficult problems</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/card-profile1-square.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h4 class="card-title">Max Rosen</h4>
                                <h6 class="card-category text-muted">FOUNDER AND CEO</h6>
                                <p class="card-description">
                                    Experienced Chief Executive Officer with a demonstrated history of working in the
                                    computer software industry. Strong entrepreneurship professional skilled in search
                                    engine optimization (SEO), data analytics, web design, branding, negotiation,
                                    sales, international relations, and real estate. Please reach out with business
                                    inquiries on any matter.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/card-profile6-square.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h4 class="card-title">ABIAM VELAZQUEZ</h4>
                                <h6 class="card-category text-muted">CTO - ARCHITECT CONSULTANT</h6>
                                <p class="card-description">
                                    Has over ten years of programming experience creating front-end and back-end
                                    applications. Abiam has been focusing most of his time on business management,
                                    cloud and data technologies, and problem solving.

                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-linkedin"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/card-profile4-square.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h4 class="card-title">RACHAEL FEUER </h4>
                                <h6 class="card-category text-muted">MARKETING CONSULTANT</h6>
                                <p class="card-description">

                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-youtube-play"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/card-profile2-square.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h4 class="card-title">JOSEPH MEHLER</h4>
                                <h6 class="card-category text-muted">ARCHITECT CONSULTANT</h6>
                                <p class="card-description">
                                    With over ten years of experience in the application space Joseph is focused and
                                    oriented to create the best products available.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-linkedin"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="login form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="email" id="email-input" placeholder="Email">
                    <input type="password" class="form-control mr-sm-2" id="password-input" placeholder="Password">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#popUpWindow">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end login modal -->
</div>
{{> footer}}

<script src="js/login.js"></script>
<script src="js/logout.js"></script>