<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand active" href="index"><img class="logo-head" src="data:image/svg+xml;base64,PHN2ZyBpZD0ic2VwX2NvcHlfMiIgZGF0YS1uYW1lPSJzZXAgY29weSAyIiB4bWxucz0iaHR0cDo
vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
k5L3hsaW5rIiB3aWR0aD0iMjQ4IiBoZWlnaHQ9IjQ1IiB2aWV3Qm94PSIwIDAgMjQ4IDQ1Ij4KI
CA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xLCAuY2xzLTMgewogICAgICAgIGZpbGw6
ICNmZmY7CiAgICAgIH0KCiAgICAgIC5jbHMtMSwgLmNscy0yIHsKICAgICAgICBzdHJva2U6ICM
zNTVlODM7CiAgICAgICAgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsKICAgICAgICBzdHJva2Utd2
lkdGg6IDFweDsKICAgICAgfQoKICAgICAgLmNscy0xLCAuY2xzLTIsIC5jbHMtMyB7CiAgICAgI
CAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CgogICAgICAuY2xzLTEgewogICAgICAgIGZp
bHRlcjogdXJsKCNmaWx0ZXIpOwogICAgICB9CgogICAgICAuY2xzLTIgewogICAgICAgIGZpbGw
6ICMxNzZjYmI7CiAgICAgICAgZmlsdGVyOiB1cmwoI2ZpbHRlci0yKTsKICAgICAgfQogICAgPC
9zdHlsZT4KICAgIDxmaWx0ZXIgaWQ9ImZpbHRlciIgeD0iMi42NTYiIHk9IjEuNzUiIHdpZHRoP
SIzNC4wMzEiIGhlaWdodD0iNDIuMjUiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAg
ICAgIDxmZUZsb29kIHJlc3VsdD0iZmxvb2QiIGZsb29kLWNvbG9yPSIjZmZmIi8+CiAgICAgIDx
mZUNvbXBvc2l0ZSByZXN1bHQ9ImNvbXBvc2l0ZSIgb3BlcmF0b3I9ImluIiBpbjI9IlNvdXJjZU
dyYXBoaWMiLz4KICAgICAgPGZlQmxlbmQgcmVzdWx0PSJibGVuZCIgaW4yPSJTb3VyY2VHcmFwa
GljIi8+CiAgICA8L2ZpbHRlcj4KICAgIDxmaWx0ZXIgaWQ9ImZpbHRlci0yIiB4PSIyLjY1NiIg
eT0iMS43NSIgd2lkdGg9IjM0LjAzMSIgaGVpZ2h0PSI0Mi4yNSIgZmlsdGVyVW5pdHM9InVzZXJ
TcGFjZU9uVXNlIj4KICAgICAgPGZlSW1hZ2UgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeD
0iMi42NTYyNSIgeT0iMS43NSIgd2lkdGg9IjM0LjAzMSIgaGVpZ2h0PSI0Mi4yNSIgcmVzdWx0P
SJpbWFnZSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9zdmcreG1sO2Jhc2U2NCxQSE4yWnlCNGJX
eHVjejBpYUhSMGNEb3ZMM2QzZHk1M015NXZjbWN2TWpBd01DOXpkbWNpSUhodGJHNXpPbmhzYVc
1clBTSm9kSFJ3T2k4dmQzZDNMbmN6TG05eVp5OHhPVGs1TDNoc2FXNXJJaUIzYVdSMGFEMGlNel
F1TURNeElpQm9aV2xuYUhROUlqUXlMakkxSWlCMmFXVjNRbTk0UFNJd0lEQWdNelF1TURNeElEU
XlMakkxSWo0S0lDQThaR1ZtY3o0S0lDQWdJRHh6ZEhsc1pUNEtJQ0FnSUNBZ0xtTnNjeTB4SUhz
S0lDQWdJQ0FnSUNCbWFXeHNPaUIxY213b0kyeHBibVZoY2kxbmNtRmthV1Z1ZENrN0NpQWdJQ0F
nSUgwS0lDQWdJRHd2YzNSNWJHVStDaUFnSUNBOGJHbHVaV0Z5UjNKaFpHbGxiblFnYVdROUlteH
BibVZoY2kxbmNtRmthV1Z1ZENJZ2VERTlJamN1TVRZMUlpQjVNVDBpTkRJdU1qVWlJSGd5UFNJe
U5pNDROallpSUdkeVlXUnBaVzUwVlc1cGRITTlJblZ6WlhKVGNHRmpaVTl1VlhObElqNEtJQ0Fn
SUNBZ1BITjBiM0FnYjJabWMyVjBQU0l3SWlCemRHOXdMV052Ykc5eVBTSWpNVGMyWTJKaUlpOCt
DaUFnSUNBZ0lEeHpkRzl3SUc5bVpuTmxkRDBpTVNJZ2MzUnZjQzFqYjJ4dmNqMGlJMlptWmlJdl
Bnb2dJQ0FnUEM5c2FXNWxZWEpIY21Ga2FXVnVkRDRLSUNBOEwyUmxabk0rQ2lBZ1BISmxZM1FnW
TJ4aGMzTTlJbU5zY3kweElpQjNhV1IwYUQwaU16UXVNRE14SWlCb1pXbG5hSFE5SWpReUxqSTFJ
aTgrQ2p3dmMzWm5QZ289Ii8+CiAgICAgIDxmZUNvbXBvc2l0ZSByZXN1bHQ9ImNvbXBvc2l0ZSI
gb3BlcmF0b3I9ImluIiBpbjI9IlNvdXJjZUdyYXBoaWMiLz4KICAgICAgPGZlQmxlbmQgcmVzdW
x0PSJibGVuZCIgaW4yPSJTb3VyY2VHcmFwaGljIi8+CiAgICA8L2ZpbHRlcj4KICA8L2RlZnM+C
iAgPGc+CiAgICA8ZyBzdHlsZT0iZmlsbDogI2ZmZjsgZmlsdGVyOiB1cmwoI2ZpbHRlcikiPgog
ICAgICA8cGF0aCBpZD0iQ29sb3JfRmlsbF8xNyIgZGF0YS1uYW1lPSJDb2xvciBGaWxsIDE3IiB
jbGFzcz0iY2xzLTEiIGQ9Ik0zMi40MjUsNDQuMDA5SDYuOTJhNC4xMDksNC4xMDksMCwwLDEtNC
4yNTEtMy45NVY1LjY5MUE0LjEwOSw0LjEwOSwwLDAsMSw2LjkyLDEuNzQxSDMyLjQyNWE0LjEwO
Sw0LjEwOSwwLDAsMSw0LjI1MSwzLjk1VjQwLjA1OEE0LjEwOSw0LjEwOSwwLDAsMSwzMi40MjUs
NDQuMDA5WiIgc3R5bGU9InN0cm9rZTogaW5oZXJpdDsgZmlsdGVyOiBub25lOyBmaWxsOiBpbmh
lcml0Ii8+CiAgICA8L2c+CiAgICA8dXNlIHhsaW5rOmhyZWY9IiNDb2xvcl9GaWxsXzE3IiBzdH
lsZT0ic3Ryb2tlOiAjMzU1ZTgzOyBmaWx0ZXI6IG5vbmU7IGZpbGw6IG5vbmUiLz4KICAgIDxnI
HN0eWxlPSJmaWxsOiAjMTc2Y2JiOyBmaWx0ZXI6IHVybCgjZmlsdGVyLTIpIj4KICAgICAgPHBh
dGggaWQ9IkNvbG9yX0ZpbGxfMTQiIGRhdGEtbmFtZT0iQ29sb3IgRmlsbCAxNCIgY2xhc3M9ImN
scy0yIiBkPSJNMjcuMSwxLjc0MWg1LjMyYTQuMTA5LDQuMTA5LDAsMCwxLDQuMjUxLDMuOTVWMT
guMzE5Wk0xMi4yNCw0NC4wMDlINi45MmE0LjEwOSw0LjEwOSwwLDAsMS00LjI1MS0zLjk1VjI3L
jQzMVpNMzYuNjc2LDI3LjE1MVY0MC4wNThhNC4xMDksNC4xMDksMCwwLDEtNC4yNTEsMy45NUgx
Ny4zNDFMMi42NjksMTguNlY1LjY5MUE0LjEwOSw0LjEwOSwwLDAsMSw2LjkyLDEuNzQxSDIyLjA
wNlptLTE3LjMzLTkuOTYxaC00LjFhMC4yMjEsMC4yMjEsMCwwLDAtLjI0OC4yMTd2Mi42NGEwLj
I0MiwwLjI0MiwwLDAsMCwuMjQ4LjI0OEgxNi4zdjUuMTg2YzAsMC4xMjQtLjAzMS4xNTUtMC4xN
TUsMC4xNTVIMTMuNmMtMC4xMjQsMC0uMTU1LTAuMDMxLTAuMTU1LTAuMTU1VjEwLjAxNmMwLS4x
MjQuMDMxLTAuMTU1LDAuMTU1LTAuMTU1aDIuNTQ3YzAuMTI0LDAsLjE1NS4wMzEsMC4xNTUsMC4
xNTV2Mi42MDlhMC4yMiwwLjIyLDAsMCwwLC4yNDguMjE3aDIuNzk1YTAuMjA3LDAuMjA3LDAsMC
wwLC4yNDgtMC4yMTdWOS43MzZjMC0xLjg5NC0uODM4LTMuMDEyLTMuMTM3LTMuMDEySDEzLjI5M
WMtMi4zLDAtMy4xMzcsMS4xMTgtMy4xMzcsMy4wNDNWMjUuNzkyYzAsMS44NjMuNzE0LDIuOTgx
LDMuMiwyLjk4MWgzLjEzN2MyLjQyMiwwLDMuMTA1LTEuMTE4LDMuMTA1LTMuMDQzVjE3LjQwN0E
wLjIwNywwLjIwNywwLDAsMCwxOS4zNDYsMTcuMTg5Wm05LjM3MiwyMS43YTAuMjE1LDAuMjE1LD
AsMCwwLC4yNDgtMC4yNDhWMzZhMC4yNDUsMC4yNDUsMCwwLDAtLjI0OC0wLjI0OEgyNS43MzdWM
TcuNGEwLjIyOCwwLjIyOCwwLDAsMC0uMjQ4LTAuMjQ4SDIyLjY5NGEwLjIyOSwwLjIyOSwwLDAs
MC0uMjQ4LjI0OFYzOC42MzlhMC4yNDIsMC4yNDIsMCwwLDAsLjI0OC4yNDhoNi4wMjVaIiBzdHl
sZT0ic3Ryb2tlOiBpbmhlcml0OyBmaWx0ZXI6IG5vbmU7IGZpbGw6IGluaGVyaXQiLz4KICAgID
wvZz4KICAgIDx1c2UgeGxpbms6aHJlZj0iI0NvbG9yX0ZpbGxfMTQiIHN0eWxlPSJzdHJva2U6I
CMzNTVlODM7IGZpbHRlcjogbm9uZTsgZmlsbDogbm9uZSIvPgogIDwvZz4KICA8cGF0aCBpZD0i
Z3JpbmRfbGltaXRlZCIgZGF0YS1uYW1lPSJncmluZCBsaW1pdGVkIiBjbGFzcz0iY2xzLTMiIGQ
9Ik01NS4yMTYsMzguNjU3YTUuMjc2LDUuMjc2LDAsMCwwLDUuNTQxLTMuOTA5TDYxLjEsMzguMj
RoMS44NlYyMy4zNjJINTUuNzQ3djIuMTYzSDYwLjN2My42MDZjMCw0LjU1NS0xLjAyNSw3LjE3M
y00LjgyLDcuMTczLTMuOTg1LDAtNC45MzQtMi42MTktNC45MzQtNy4xVjE2LjU2OGMwLTQuMS42
NDUtNy4wNiw0LjktNy4wNiwzLjc1OCwwLDQuNjY5LDIuMiw0LjY2OSw2LjUyOFYxNy4xaDIuNzM
zVjE2LjAzNmMwLTUuNjU1LTEuOTM2LTguODQzLTcuNDM5LTguODQzLTYuMTQ5LDAtNy43ODEsMy
44LTcuNzgxLDkuNjc4VjI4Ljg2NUM0Ny42MjUsMzQuNzQ4LDQ5LjM3MSwzOC42NTcsNTUuMjE2L
DM4LjY1N1ptMTIuNzUyLS40MThoMi44ODVWMjMuMTM0aDQuODJMODAuMTg5LDM4LjI0SDgzTDc4
LjI5MSwyMi41MjdjMy4zNC0uNzIxLDQuMjUxLTMuNzIsNC4yNTEtNy4yMTEsMC00Ljg1OC0xLjk
tNy44MTktNy42MjktNy44MTlINjcuOTY4VjM4LjI0Wm0yLjg4NS0xNy4yMzFWOS42NmgzLjk4NW
MzLjkwOSwwLDQuOSwxLjg2LDQuOSw1LjY1NXMtMS4xNzcsNS42OTMtNC45NzIsNS42OTNINzAuO
DUyWk04Ny40NzUsMzguMjRoMi44ODVWNy41SDg3LjQ3NVYzOC4yNFptOC4zNDksMGgyLjVWMTQu
MWw5LjgzLDI0LjEzOWgyLjA1VjcuNUgxMDcuN1YzMS4zN0w5Ny45MTEsNy41SDk1LjgyNFYzOC4
yNFptMTkuNzM1LDBIMTIyLjVjNi4xNDksMCw4LjA4NS0zLjc1OCw4LjA4NS05LjQ4OVYxNi41M2
MwLTUuNDI4LTEuOTc0LTkuMDMzLTguMzUtOS4wMzNoLTYuNjhWMzguMjRabTIuODg0LTIuMTYzV
jkuNzM2SDEyMi4yYzQuNTkyLDAsNS40MjcsMi41LDUuNDI3LDcuMVYyOC4zYzAsNC40NzktLjQ1
NSw3Ljc4MS01LjMxMyw3Ljc4MWgtMy44NzJabTI0LjYzMSwyLjE2M2gxMS42MTRWMzYuMDc3aC0
4LjczVjcuNWgtMi44ODRWMzguMjRabTE0LjU3MywwaDIuODg1VjcuNWgtMi44ODVWMzguMjRabT
guMDgzLDBoMi4zOTJMMTY4LjcyOSwxMy44bDUuODA3LDI0LjQ0M2gxLjg2bDUuODgzLTI0LjQ4M
SwwLjYwNywyNC40ODFoMi4zOTFMMTg0LjUxOCw3LjVoLTIuODg1bC02LjE4NiwyNi42ODJMMTY5
LjM3NCw3LjVIMTY2LjQ5Wm0yNC43NDUsMGgyLjg4NVY3LjVoLTIuODg1VjM4LjI0Wm0xMi4xNDQ
sMEgyMDUuNVY5LjczNmg1LjY1NVY3LjVIMTk2LjgxMlY5LjczNmg1LjgwN3YyOC41Wm0xMS44Nz
ksMGgxMS4yVjM2LjA3N0gyMTcuNDJWMjMuNGg2LjY4VjIxLjI3NGgtNi42OFY5LjczNmg4LjJWN
y41SDIxNC41VjM4LjI0Wm0xNS4xNDMsMGg2Ljk0NWM2LjE0OSwwLDguMDg1LTMuNzU4LDguMDg1
LTkuNDg5VjE2LjUzYzAtNS40MjgtMS45NzQtOS4wMzMtOC4zNS05LjAzM2gtNi42OFYzOC4yNFp
tMi44ODQtMi4xNjNWOS43MzZoMy43NThjNC41OTIsMCw1LjQyNywyLjUsNS40MjcsNy4xVjI4Lj
NjMCw0LjQ3OS0uNDU1LDcuNzgxLTUuMzEzLDcuNzgxaC0zLjg3MloiLz4KPC9zdmc+Cg=="></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <a class="nav-link" href="services">Services <span class="sr-only">(current)</span></a>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="program">Affilate Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About The Grind</a>
      </li>
    </ul>
    <!-- logout button -->
    <button type="button" class="btn d-inline mr-sm-2 logoutbtn">Logout</button>
  </div>
</nav>