<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand active" href="index"><img class="logo-head" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHR
wOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTQuMTQgMTAuODMiPjxkZW
ZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO30uY2xzLTIsLmNscy02e2ZpbGw6bm9uZTtzdHJva
2U6IzM1NWU4MztzdHJva2Utd2lkdGg6MC4ycHg7fS5jbHMtMntzdHJva2UtbWl0ZXJsaW1pdDox
MDt9LmNscy0ze2ZpbGw6dXJsKCNsaW5lYXItZ3JhZGllbnQpO30uY2xzLTR7ZmlsbDp1cmwoI2x
pbmVhci1ncmFkaWVudC0yKTt9LmNscy01e2ZpbGw6dXJsKCNsaW5lYXItZ3JhZGllbnQtMyk7fT
wvc3R5bGU+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyLjA4IiB5M
T0iNy45MyIgeDI9IjYuMTciIHkyPSIyLjkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNl
Ij48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiMxNzZjYmIiLz48c3RvcCBvZmZzZXQ9IjE
iIHN0b3AtY29sb3I9IiNmZmYiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD
0ibGluZWFyLWdyYWRpZW50LTIiIHgxPSIwLjQ0IiB5MT0iMTAuMjEiIHgyPSI3LjUzIiB5Mj0iM
C40NiIgeGxpbms6aHJlZj0iI2xpbmVhci1ncmFkaWVudCIvPjxsaW5lYXJHcmFkaWVudCBpZD0i
bGluZWFyLWdyYWRpZW50LTMiIHgxPSIwLjcxIiB5MT0iMTAuNCIgeDI9IjcuNzkiIHkyPSIwLjY
1IiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50Ii8+PC9kZWZzPjx0aXRsZT5Bc3NldCA4PC
90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iZ2xfY29we
V81IiBkYXRhLW5hbWU9ImdsIGNvcHkgNSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMS40NS4x
SDYuOEExLjM0LDEuMzQsMCwwLDEsOC4xNSwxLjQ0VjkuMzlBMS4zNCwxLjM0LDAsMCwxLDYuOCw
xMC43M0gxLjQ0QTEuMzQsMS4zNCwwLDAsMSwuMSw5LjM5VjEuNDVBMS4zNSwxLjM1LDAsMCwxLD
EuNDUuMVoiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xLjQ1LjFINi44QTEuMzQsMS4zNCwwL
DAsMSw4LjE1LDEuNDRWOS4zOUExLjM0LDEuMzQsMCwwLDEsNi44LDEwLjczSDEuNDRBMS4zNCwx
LjM0LDAsMCwxLC4xLDkuMzlWMS40NUExLjM1LDEuMzUsMCwwLDEsMS40NS4xWiIvPjxwYXRoIGN
sYXNzPSJjbHMtMyIgZD0iTTIuOS4yM0gxLjMzYTEuMTUsMS4xNSwwLDAsMC0xLjEsMS4yVjVMNS
4zNSwxMC42SDYuOTJBMS4xNCwxLjE0LDAsMCwwLDgsOS40MVY1LjgxWiIvPjxwYXRoIGNsYXNzP
SJjbHMtNCIgZD0iTTgsMy42NlYxLjQzQTEuMTUsMS4xNSwwLDAsMCw2LjkyLjIzaC0yWiIvPjxw
YXRoIGNsYXNzPSJjbHMtNSIgZD0iTS4yMyw3LjE4VjkuNDFhMS4xNCwxLjE0LDAsMCwwLDEuMSw
xLjE5SDMuMzhaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNC4xMyw0LjJWNmMwLC40LS4xNC
42NC0uNjUuNjRIMi44MmMtLjUyLDAtLjY3LS4yNC0uNjctLjYzVjIuNmMwLS40LjE4LS42NC42N
i0uNjRoLjY3Yy40OCwwLC42NS4yNC42NS42M1YzLjJhMCwwLDAsMCwxLDAsMEgzLjQ5YS4wNS4w
NSwwLDAsMS0uMDUsMFYyLjY1czAsMCwwLDBIMi44OHMwLDAsMCwwVjUuOXMwLDAsMCwwaC41M3M
wLDAsMCwwVjQuODFIMy4yMmEwLDAsMCwwLDEtLjA1LDBWNC4yYTAsMCwwLDAsMSwuMDUsMGguOD
ZTNC4xMyw0LjE3LDQuMTMsNC4yWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTUsOC43MmEwL
DAsMCwwLDEsMC0uMDVWNC4yMWEwLDAsMCwwLDEsMCwwSDUuNmEwLDAsMCwwLDEsLjA1LDBWOC4w
NmguNjJhLjA2LjA2LDAsMCwxLC4wNi4wNnYuNTVzMCwuMDUtLjA2LjA1WiIvPjxwYXRoIGNsYXN
zPSJjbHMtNiIgZD0iTTUuMzUsMTAuNzMuMTQsNS4xMWwwLTMuNjhBMS4yNywxLjI3LDAsMCwxLD
EuMzMuMTFIMi45TDguMTEsNS43M2wwLDMuNjhhMS4yNywxLjI3LDAsMCwxLTEuMjIsMS4zMloiL
z48cGF0aCBjbGFzcz0iY2xzLTYiIGQ9Ik00LjU5LjExSDYuOTJBMS4yNywxLjI3LDAsMCwxLDgu
MTQsMS40M1Y0WiIvPjxwYXRoIGNsYXNzPSJjbHMtNiIgZD0iTTEuMzMsMTAuNzNBMS4yNywxLjI
3LDAsMCwxLC4xMSw5LjQxVjYuODZsMy41NCwzLjg3WiIvPjxwYXRoIGNsYXNzPSJjbHMtNiIgZD
0iTTIuODIsNi43MUMyLjI4LDYuNzEsMiw2LjQ3LDIsNlYyLjZhLjY4LjY4LDAsMCwxLC43OC0uN
zZoLjY3YS42OC42OCwwLDAsMSwuNzguNzV2LjczbC0uMTguMDVIMy4zN0wzLjMyLDMuMlYyLjc0
SDNWNS44MWguMzVWNC45M0gzLjFsLS4wNS0uMTdWNC4wOGwuMTcsMGgxbC4wNi4xNlY2YzAsLjU
yLS4yNS43Ni0uNzguNzZaIi8+PHBvbHlnb24gY2xhc3M9ImNscy02IiBwb2ludHM9IjQuODkgOC
44NSA0LjgzIDguNjcgNC44MyA0LjA5IDUuMDEgNC4wNCA1LjcyIDQuMDQgNS43NyA0LjIxIDUuN
zcgNy45NCA2LjQgNy45NCA2LjQ1IDguMTIgNi40NSA4Ljc5IDYuMjcgOC44NSA0Ljg5IDguODUi
Lz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMC40LDYuNzRWNC4wN2MwLTEuMy4zNy0yLjE0LDE
uNzMtMi4xNHMxLjY1LjcsMS42NSwydi4yM2gtLjZWMy44OWMwLTEtLjIxLTEuNDUtMS0xLjQ1Uz
ExLjA1LDMuMSwxMS4wNSw0djIuOGMwLDEsLjIxLDEuNTgsMS4xLDEuNThzMS4wNy0uNTgsMS4wN
y0xLjZWNmgtMVY1LjUxaDEuNlY4LjgyaC0uNDJMMTMuMzIsOGExLjE4LDEuMTgsMCwwLDEtMS4y
My44N0MxMC43OSw4LjkxLDEwLjQsOCwxMC40LDYuNzRaIi8+PHBhdGggY2xhc3M9ImNscy0xIiB
kPSJNMTQuOTIsMmgxLjU0YzEuMjcsMCwxLjY5LjY2LDEuNjksMS43NCwwLC43Ny0uMiwxLjQ0LS
45NCwxLjZsMS4wNSwzLjQ5aC0uNjNsLTEtMy4zNkgxNS41NlY4LjgyaC0uNjRabTEuNTEsM2MuO
DQsMCwxLjEtLjQyLDEuMS0xLjI2cy0uMjItMS4yNi0xLjA5LTEuMjZoLS44OFY1WiIvPjxwYXRo
IGNsYXNzPSJjbHMtMSIgZD0iTTE5LjI1LDJoLjY0VjguODJoLS42NFoiLz48cGF0aCBjbGFzcz0
iY2xzLTEiIGQ9Ik0yMS4xLDJoLjQ3bDIuMTcsNS4zVjJoLjU2VjguODJoLS40NkwyMS42NiwzLj
Q2VjguODJIMjEuMVoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNS40OCwySDI3YzEuNDEsM
CwxLjg1LjgsMS44NSwyVjYuNzFjMCwxLjI3LS40MywyLjExLTEuOCwyLjExSDI1LjQ4Wk0yNyw4
LjM0YzEuMDgsMCwxLjE4LS43NCwxLjE4LTEuNzNWNC4wN2MwLTEtLjE4LTEuNTgtMS4yLTEuNTh
oLS44NFY4LjM0WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTMxLjU5LDJoLjY0VjguMzRoMS
45NHYuNDhIMzEuNTlaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMzQuODIsMmguNjVWOC44M
mgtLjY1WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTM2Ljc5LDJoLjY0bDEuMzUsNS45M0w0
MC4xNSwyaC42NEw0MSw4LjgyaC0uNTNsLS4xNC01LjQ0TDM5LDguODJoLS40MkwzNy4yOCwzLjM
5bC0uMTMsNS40M2gtLjUzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQyLjExLDJoLjY0Vj
guODJoLS42NFoiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik00NC44MSwyLjQ5SDQzLjUyVjJIN
DYuN3YuNUg0NS40NVY4LjgyaC0uNjRaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDcuNDQs
MmgyLjQ3di41SDQ4LjA5VjUuMDVoMS40OXYuNDdINDguMDlWOC4zNGgxLjg0di40OEg0Ny40NFo
iLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik01MC44MSwyaDEuNDhjMS40MSwwLDEuODUuOCwxLj
g1LDJWNi43MWMwLDEuMjctLjQzLDIuMTEtMS43OSwyLjExSDUwLjgxWk01Mi4zLDguMzRjMS4wO
CwwLDEuMTgtLjc0LDEuMTgtMS43M1Y0LjA3YzAtMS0uMTgtMS41OC0xLjItMS41OGgtLjgzVjgu
MzRaIi8+PC9nPjwvZz48L3N2Zz4="></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <a class="nav-link" href="services">Services <span class="sr-only">(current)</span></a>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="program">Affilate Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About The Grind</a>
      </li>
    </ul>
    <!-- logout button -->
    <button type="button" class="btn d-inline mr-sm-2 logoutbtn">Logout</button>
  </div>
</nav>