 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand active" href="index">Grind Limited</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <a class="nav-link" href="services">Services <span class="sr-only">(current)</span></a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="survey">Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="program">Affilate Program</a>
        </li>
        <li class="nav-item">
                    <a class="nav-link" href="about">About The Grind</a>
                </li>
      </ul>

      <!-- login form goes here -->
      <button type="button" class="btn d-inline mr-sm-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
      <!--end login form -->
    </div>
  </nav>